body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

.banner-container {
  position: relative;
}

.banner-container .col-9 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Color del texto */
  text-align: center;
}

@media (max-width: 767px) {
}
